# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python cache
.pytest_cache/

# Docker
postgres_data/